<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/templates::common_head">
</head>
<body class="app ">
<div id="spinner"></div>
<div id="app">
    <div class="main-wrapper">
        <!--公共导航和顶部部分-->
        <div th:replace="common/templates::common_top_nav"></div>
        <!--页面内容-->
        <div class="app-content">
            <section class="section">
                <!--页面导航部分-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/index" class="text-muted">首页</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">机构评分管理</li>
                    <li class="breadcrumb-item active" aria-current="page">机构评分在库表</li>
                </ol>
                <!--具体内容-->
                <div class="row">
                    <div class="col-md">
                        <div class="card overflow-hidden">
                            <div class="card-header">
                                <h4>筛选条件</h4>
                            </div>
                            <div class="card-body">
                                <form id="search_form" method="post">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group overflow-hidden">
                                                <label>机构名称</label>
                                                <input type="text" class="form-control" name="groupName" id="q_groupName" placeholder="机构名称" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group overflow-hidden">
                                                <label>创建日期（开始）</label>
                                                <input type="date" class="form-control" name="createTimeStart" id="q_createTimeStart" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group overflow-hidden">
                                                <label>创建日期（结束）</label>
                                                <input type="date" class="form-control" name="createTimeEnd" id="q_createTimeEnd"  />
                                            </div>
                                        </div>
                                    </div>
                                    <!--按钮-->
                                    <div class="row">
                                        <div class="col-md-3 offset-md-9 text-align-r">
                                            <button type="button" onclick="queryData()" class="btn btn-primary">查询</button>
                                            <button type="button" onclick="resetQueryData()" class="btn btn-primary">重置</button>
                                        </div>
                                    </div>
                                </form>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="float-right">
                                    <div class="input-group">
                                        <a href="/institution_add" class="dbtn btn-info m-t-5 m-l-5">新增</a>
                                        <a onclick="refreshData()" href="javascript:void(0);" class="dbtn btn-info m-t-5 m-l-5">刷新</a>
                                    </div>
                                </div>
                                <h4>机构评分在库表</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="myTable" class="table table-striped table-bordered mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>机构名称</th>
                                                <th>系统综合评分</th>
                                                <th>机构等级</th>
                                                <th>创建时间</th>
                                                <th>更新时间</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
        <!--底部部分-->
        <footer th:replace="common/templates::common_footer"></footer>
        <!--业务js-->
        <script th:src="${urls.getForLookupPath('/static/assets/js/bus/institution/institution_score.js')}"></script>
    </div>
</div>
</body>
</html>